<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-lg-8">
                <p class="copyrigth-text">Creado por &copy; MISION TIC 2021</p>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <ul class="social-icons">
                <li>
                    <a class="facebook" href="facebook.com">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="twitter.com">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="instagram.com">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>